<h2><%= @protein.name %></h2>
<h3><%= @protein.brand %></h3>
<h3>Goals</h3>
<p><%= @protein.goals %></p>
<img src="<%= @protein.photo_url %>">
<h3>Description</h3>
<p><%= @protein.description %></p>

